gridColor = rgba(255,255,255,0.9)

.my-grid
  background gridColor

.my-grid caption
  background gridColor

border-table()
  border-bottom 1px solid #adb7d2
  border-top    1px solid #adb7d2
  border-left   1px solid #adb7d2
  border-right  1px solid #adb7d2
  margin 0px
  border-spacing 0px
  border-collapse collapse
  
.my-grid
  font-family helvetica
  border-table()

nowrap()
  white-space pre
  overflow hidden
  max-width 300px
  
.my-grid td
  color #4a4a4a
  border-table()
  nowrap()
  padding 5px

.my-grid tr:nth-child(2n) 
  background-color #f2f3f7


.my-grid tr td x
  background-color EFF0F4
  border-bottom   2px solid #666
  border-top      2px solid #3F517F

.my-grid th
  border-table()

.my-grid tbody th
  nowrap()
  background-color #e4e6f2

.my-grid caption
  font-family helvetica
  text-transform uppercase
  font-weight bold
  font-size 75%
  letter-spacing 1px
  border-table()
  background-color #3d60a2
  padding 10px
  color #FFF

.my-grid tfoot
  background-color #9aa7ca
  color #FFF
  font-size 90%
  padding 5px

.my-grid thead th
  font-family  helvetica
  font-size 70%
  text-transform uppercase
  background-color #bec5e2
  white-space nowrap
  color #274988
  
.th-name
  padding 10px
  font-size 70%
  overflow hidden
    
.my-grid thead th.th-detail
  font-size 60%
  white-space wrap

.grid-th grid-th-actions
   background-color #e4e6f2
  
[io-status=pending]
  background-color #CDE
  
[io-status=updating]
  background-color #ABC
  
[io-status=error]
  background-color #DAA

[io-status=temporal-ok]
  background-color #ADA

[io-status=write-read-conflict]
  background-color #DAD

[io-status=background-change]
  background-color #ADD

.table-button
  margin 0px
  border 0px
  padding 0px
  background-color transparent
 
.table-button img
  height 20px

.autoFilter
  background-color #d3daec
  width 30px
  
  
[has-filter='1'] 
  [when-filter=no] 
    display none
  [when-filter=yes] 
    display inherit

[has-filter='0']
  [when-filter=yes] 
    display none
  [when-filter=no] 
    display inherit

.filter-span
  display inline-block
  background-color #FFF
  padding 2px
  border-top 1px solid #A9B0C7
  border-left 1px solid #A9B0C7
  min-height 20px
  min-width 20px

.filter-line
  th
    vertical-align middle
    
.filter-line
  td
    padding 5px
    vertical-align bottom

.grid-dummy-cell-ini
  height: 1px;
  width: 1px;
  transition: height 0.6s ease;

.grid-dummy-cell-del
  transition: height 0.6s ease;

@keyframes animateheight {
  from {transform: scaleY(0.1)}
  to {transform: scaleY(1)}
}

.empty-rigth-column{
  background-color inherit !important
  border inherit !important
  padding 0 !important
}

.my-grid td.autoFilter{
  nowrap()
  white-space nowrap
}

td.autoFilter button{
  display inline-block
}

.number_miles + .number_miles{
  margin-left 2px
}

.number_decimals
  font-size 90%

.date_year
  font-size 90%

.img-lupa
  height 16px