.pika-single 
  color #2f5097
  background-color transparent
  background-opacity 0.5
  border 1px #748dbc
  border-radius 5px
  padding 0px
  
.pika-label
  display inline
  position relative
  margin 0
  padding 0px
  line-height 20px
  font-weight bold
  background-color transparent
 
.pika-prev
  display block
  cursor pointer
  position relative
  outline none
  border-radius 3px
  border 0
  padding 0
  width 20px
  height 30px
  text-indent 20px
  white-space nowrap
  overflow hidden
  background-image url('img/pikaprev.png')
  background-color transparent
  background-position center
  background-repeat no-repeat
  background-size 100%
  float left
  
.pika-next
  display block
  cursor pointer
  position relative
  outline none
  border-radius 3px
  border 0
  padding 0
  width 20px
  height 30px
  text-indent 20px
  white-space nowrap
  overflow hidden
  background-image url('img/pikanext.png')
  background-color transparent
  background-position center
  background-repeat no-repeat
  background-size 100%
  float right
  
.pika-table
  padding 10px
  margin-top 5px

.pika-table th
  padding 2px
  color white
  background-color #2f5097
  border-bottom 3px solid #a1b4d9
  
.pika-table td
  padding 0px
  background-color #e4eeff
  border-bottom 1px solid #a1b4d9
  border-top 1px solid #a1b4d9
  border-left 1px solid #a1b4d9
  border-right 1px solid #a1b4d9
  border-radius 5px

.pika-table td:hover
  padding 0px
  background-color #25a5e5
  border-bottom 1px solid #7e98c7
  border-top 0px solid #7e98c7
  border-left 1px solid #7e98c7
  border-right 1px solid #7e98c7
  
.pika-table button
  background-color transparent
  border 0px
  font-weight 700
  color #2f5097
  
.pika-table button:hover
  background-color transparent
  border 0px
 
.pika-title
  font-size 130%

.pika-select
  display inline-block
  padding 6px
  border 1px #4f6fa9
  color #135475
